In [1]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
# Set up executable path
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Visit the mars nasa news site

url = 'https://redplanetscience.com/'
browser.visit(url)

# Optional delay for loading the page

# search for elements with a specific combination of tag (div) and attribute (list_text)
# wait one second before searching for components -- useful because sometimes dynamic pages take a while to load, especially if they are image-heavy.
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [4]:
# Set up HTML parser

html = browser.html
news_soup = soup(html,'html.parser')

# set a variable to look for the <div /> tag and its descendent(the other tags within the <div /> element)
# Use the . to  select classes. The code 'div.list_text' pinpoints the <div /> tag with the class of list_text.
# this is our parent element 
slide_elem = news_soup.select_one('div.list_text')

In [5]:
slide_elem

<div class="list_text">
<div class="list_date">September 26, 2022</div>
<div class="content_title">5 Hidden Gems Are Riding Aboard NASA's Perseverance Rover</div>
<div class="article_teaser_body">The symbols, mottos, and small objects added to the agency's newest Mars rover serve a variety of purposes, from functional to decorative.</div>
</div>

In [6]:
slide_elem.find('div', class_='content_title')

In [7]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"5 Hidden Gems Are Riding Aboard NASA's Perseverance Rover"

In [8]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

"The symbols, mottos, and small objects added to the agency's newest Mars rover serve a variety of purposes, from functional to decorative."

### Featured Images

In [9]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [10]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [11]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [12]:
# Find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')

In [13]:
# Use the base URL to create an absolute URL
img_url = f'https://spaceimages-mars.com/{img_url_rel}'

### Mars Facts

In [14]:
# Use Pandas' .read_html() function to scrape the entire table with instead of scraping each row or the data in each <td />
# read_html() specifically searches for and returns a list of tables found in the HTML.

df = pd.read_html('https://galaxyfacts-mars.com')[0]


df.columns=['description', 'Mars', 'Earth']
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [15]:
#  convert our DataFrame back into HTML-ready code
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [16]:
browser.quit()

In [17]:
# To fully automate this scraping script, it will need to be converted into a .py file.
# In Jupyter Notebook go to File, Download As, Python (.py)